@tailwind base;
@tailwind components;
@tailwind utilities;

* {

    font-family: 'Oxygen', sans-serif;

}

::selection {
    color: white;
    background-color: rgb(236 72 153);
}

.checkbox::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "bootstrap-icons";
    font-weight: bold;
    font-size: 1rem;
    color: white;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.checkbox:checked::after {
    content: "\f26b";
    opacity: 1;
    color: white;
}